#picture{
    width: 400px;
    height: 400px;
    border-radius: 80px;
    /*add animation*/
    margin-top: 15px;
}
#picture :hover{
    width: 410px;
    height: 410px;
    margin-top: 15px;
}
#home{
    /*background-color: black;*/
    background-image: url("dynamic-blue-purple-light-curves-850e4ovvlkkmva1i-850e4ovvlkkmva1i.jpg");
    color: white; /* hu tao effect {}*/
    height: 800px;
}
#allvids, .videos{
    border: white 2px;
    border-style: ridge;
}
canvas{
    animation-name: icon_periphery;
    animation-duration: 4s;
    animation-iteration-count: infinite; /*20*/
    margin-top: 15px;
}
/*@keyframes icon_periphery{
    from{
        box-shadow: 1px 1px 3px red;
    }
    to{
        box-shadow: 1px 1px 3px chartreuse;
    }
}*/
/*repeat forever - change colour of background*/
.frames{
    margin-top: 15px;
}
.shauryimg:hover{
    /*element is hovered, do something! bordre bodre, bodie body boear*/

    border: 10px white ridge; /*make it white*/
}
#apply:hover{
    /*user is appy, do something!*/
    color: darkslateblue;
    font-size: 18px;

}
#creators{
    background-image: url("Photo (7).png");
}
#a1, .a{
    background: white;
    border-radius: 20px;
    padding: 5px;
}
#row2{
    margin-top: 50px;
}
#from_where_to_join{
    background-color: teal;
    color: white;
}
.img{
    width: 75px;
    height: 75px;;
}
.b{
    margin-top: 15px;
    margin-bottom: 15px;
}
#hr{
    background-color: white;
    color: white;
}